@model PrototipoMINVU.Models.Registro
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

</head>
<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1>Editar datos de los Sistemas del MINVU</h1>
                                <hr />
                            </div>
                        </div>

                        <div class="row" id="textindexregistro">
                            <div class="col-lg-12">
                                <div class="card shadow">
                                    <div class="font_registro">                                        
                                        En esta pantalla se podrán Editar y actualizar los sistemas que se han 
                                        registrado en la base de datos del prototipo.<br />
                                        También se podrán ingresa los módulos a los sistemas generales.<br />
                                        Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />


                                        Universidad Tecnológica Metropolitana.<br />

                                        <b>Profesor Guía:</b> Yelka Ruiz.<br />


                                        <b>Rodrigo Álvarez.</b>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-4">
                                        <div class="font_registro">
                                            <label>Seleccione Ambiente:</label>
                                            @Html.DropDownListFor(m => m.idAmbiente, new SelectList(Model.ListaAmbientes, "idAmbiente", "DescripcionAmbiente"), "Seleccione Ambiente", new { @id = "idAmbiente", @type = "text", @onchange = "GenerarListaAmbiente(this.value)" })
                                        </div>
                                    </div>

                                    <div class="col-8" style=" text-align:end;">
                                        <div class="font_registro">
                                            <button> Sistemas Generales.</button>
                                            <button> Modulos de sistemas.</button>

                                        </div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                    @* TABLA PARA SISTEMAS *@

                                    <div class="col-lg-6" id="tablaSistemas">
                                        <button id="exportButton">Exportar a Excel</button>

                                        <div class="font_registro">
                                            <div style="text-align: center;"> <b>Tabla de Sistemas Activos</b></div>
                                            <hr />
                                            <div class="table-responsive-y table-responsive tablaparasistemas">
                                                <div class="table-container">
                                                    <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                        <thead>
                                                            <tr>
                                                                <th>Código Sistema</th>
                                                                <th>Nombre Sistema</th>
                                                                <th>Estado Sistema</th>
                                                                <th>Ambiente Sistema</th>

                                                                <th>Editar</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.ListaSistemas != null)
                                                            {
                                                                int aux = 1;

                                                                foreach (var item in Model.ListaSistemas)
                                                                {
                                                                    <tr>
                                                                        <td>@aux@*@item.id_sistema*@</td>
                                                                        <td>@item.NombreSistema</td>
                                                                        <td>@item.EstadoSistema</td>
                                                                        <td>@item.AmbienteAlojado</td>
                                                                        <td class="id">

                                                                            @using (Html.BeginForm("FrmSistemas", "Registro", FormMethod.Post, new { @class = "user" }))
                                                                            {
                                                                                <input type="hidden" value="@item.id_sistema" name="id_sistemasedit" />
                                                                                <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />

                                                                                <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                            }

                                                                            <input type="hidden" value="@item.id_sistema" id="id_sistemadelete" name="id_sistemadelete" />

                                                                            <button type="button" data-toggle="modal" data-id-sistema="@item.id_sistema.ToString()" data-target="#confirmDeleteModal" data->
                                                                                <i class="bi bi-x-circle-fill"></i>
                                                                            </button>
                                                                        </td>

                                                                    </tr>
                                                                    aux++;

                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @* TABLA PARA MODULOS *@

                                <div class="col-lg-6" id="tablaSISTEMAS">
                                    <button id="exportButton">Exportar a Excel</button>

                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Tabla de Modulos Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y">
                                            <div class="table-container">
                                                <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg2">
                                                    <thead>
                                                        <tr>
                                                            <th>N° MODULOS</th>
                                                            <th>Nombre del Sistema</th>
                                                            <th>Estado</th>
                                                            <th>Ambiente</th>
                                                            <th>Editar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.ListaModulos != null)
                                                        {
                                                            int aux = 1;

                                                            foreach (var item in Model.ListaModulos)
                                                            {
                                                                <tr>
                                                                    <td>@aux@*@item.idSistema*@</td>
                                                                    <td>@item.NombreSistema</td>
                                                                    <td>@item.DescripcionEstado</td>
                                                                    <td>@item.AmbienteAlojado</td>

                                                                    <td class="id">

                                                                        @using (Html.BeginForm("FrmModulos", "Registro", FormMethod.Post, new { @class = "user" }))
                                                                        {
                                                                            <input type="hidden" value="@item.idSistema" name="id_sistemasedit" />
                                                                            <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />

                                                                            <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                        }

                                                                        <input type="hidden" value="@item.idSistema" id="id_modulodelete" name="id_modulodelete" />

                                                                        <button type="button" data-toggle="modal" data-id-modulo="@item.idSistema.ToString()" data-target="#confirmDeleteModalModulos" data->
                                                                            <i class="bi bi-x-circle-fill"></i>
                                                                        </button>
                                                                    </td>

                                                                </tr>
                                                                aux++;

                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                </div>

                                @*MODAL CONFIRMACION PARA ELIMINAR*@

                                <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirmar Eliminación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de que deseas eliminar este sistema?
                                                <input type="hidden" id="idSistemaToDelete" name="id_sistema" />

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal" id="confirmDeleteModalModulos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirmar Eliminación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de que deseas eliminar este Modulo?
                                                <input type="hidden" id="idModulosToDelete" name="id_sistema" />

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger" id="confirmDeleteButtonModulos">Eliminar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>





                            </div>
                        </div>

                        
                    </div>

                </div>
            </div>

        </div>
    </div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>

    $(document).ready(function () {
        // Captura el clic en el botón "Eliminar" del botón original
        $("button[data-target='#confirmDeleteModal']").on("click", function () {
            var idSistema = $(this).data("id-sistema");
            $("#idSistemaToDelete").val(idSistema); // Asigna el valor al campo oculto
        });

        // Captura el clic en el botón de confirmación del modal
        $("#confirmDeleteButton").on("click", function () {
            var idSistema = $("#idSistemaToDelete").val(); // Obtiene el valor del campo oculto

            // Realiza una solicitud AJAX para eliminar el sistema
            $.ajax({
                type: "POST",
                url: "/Registro/EliminarSistema", // Ruta al controlador y acción correspondiente
                data: { id_sistemasedit: idSistema },
                success: function (data) {
                    // Maneja la respuesta de la eliminación si es necesario

                    location.reload();
                },
                error: function () {
                    // Maneja cualquier error si ocurre
                }
            });
        });
    });


    $(document).ready(function () {
        // Captura el clic en el botón "Eliminar" del botón original
        $("button[data-target='#confirmDeleteModalModulos']").on("click", function () {
            var idSistema = $(this).data("id-modulo");
            $("#idModulosToDelete").val(idSistema); // Asigna el valor al campo oculto
        });

        // Captura el clic en el botón de confirmación del modal
        $("#confirmDeleteButtonModulos").on("click", function () {
            var idSistema = $("#idModulosToDelete").val(); // Obtiene el valor del campo oculto

            // Realiza una solicitud AJAX para eliminar el sistema
            $.ajax({
                type: "POST",
                url: "/Registro/EliminarModulo", // Ruta al controlador y acción correspondiente
                data: { id_sistemasedit: idSistema },
                success: function (data) {

                    location.reload();
                }
                
            });
        });
    });





    // Función para exportar la tabla a Excel
    function exportToExcel() {

        // Verifica la existencia de las tablas
        var tableSistemas = document.getElementById('datatableReg');
        var tableModulos = document.getElementById('datatableReg2');

        if (!tableSistemas || !tableModulos) {
            // Muestra un mensaje de error si alguna de las tablas no existe
            alert('No se encontraron todas las tablas necesarias para exportar.');
            return;
        }

        // Convierte las tablas a objetos de trabajo de SheetJS
        var wsSistemas = XLSX.utils.table_to_sheet(tableSistemas);
        var wsModulos = XLSX.utils.table_to_sheet(tableModulos);

        // Crea un libro de Excel
        var wb = XLSX.utils.book_new();

        // Añade las hojas al libro
        XLSX.utils.book_append_sheet(wb, wsSistemas, 'Sistemas');
        XLSX.utils.book_append_sheet(wb, wsModulos, 'Modulos');

        // Guarda el libro como un archivo Excel
        var fileName = 'ReporteExcel-PrototipoMINVU.xlsx';
        XLSX.writeFile(wb, fileName);
    }


    // Asigna la función al evento clic del botón
    document.getElementById('exportButton').addEventListener('click', exportToExcel);
 

</script>

</body>