@model PrototipoMINVU.Models.Registro

<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1>Editar datos del Sub Sistema: <b>@Session["NOMBRE_SISTEMA"]</b></h1>
                                <hr />
                            </div>
                        </div>

                        <div class="font_registro" id="containerSubSI" >

                            <div class="row">
                                <div id="FormularioEditarSistema">
                                    <div class="font_registro">
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card shadow formAddproy">
                                                    @if (Model.SubSistemaExample != null)
                                                    {
                                                        using (Html.BeginForm("EditarSubSistema", "Registro", FormMethod.Post, new { @class = "user" }))
                                                        {

                                                            <div class="row rowNorm" >
                                                                <input type="hidden" value="@Model.SubSistemaExample.idSubSistema" name="id_subsistemasedit" />
                                                                <div class="font_registro">
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.NombreSubSistema, "Nombre SubSistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SubSistemaExample.NombreSubSistema, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.DescripcionSubSistema, "Descripción SubSistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextAreaFor(m => m.SubSistemaExample.DescripcionSubSistema, new { @class = "form-control", rows = 4 })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.EstadoSubSistema, "Estado del sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>  @Html.DropDownListFor(m => m.SubSistemaExample.id_estado, new SelectList(Model.ListaEstados, "idEstado", "DescripcionEstado"), "Seleccione Estado del Subsistema", new { @id = "idSubSistema", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>
                                                                    <hr />

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.AmbienteAlojado, "Ambiente del sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b> @Html.DropDownListFor(m => m.SubSistemaExample.idAmbiente, new SelectList(Model.ListaAmbientes, "idAmbiente", "DescripcionAmbiente"), "Seleccione Ambiente del sistema", new { @id = "idAmbiente", @type = "text", @class = "form-select" })</b>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <hr />
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.URLinicio, "URL Inicio:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SubSistemaExample.URLinicio, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>


                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.URLdatos, "URL Modelo Datos:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SubSistemaExample.URLdatos, new { @class = "form-control" })
                                                                        </div>

                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.DecretoAfecto, "Decreto Afecto:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SubSistemaExample.DecretoAfecto, new { @class = "form-control" })
                                                                        </div>

                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.CostoSistema, "Costo Sistemas [$]:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SubSistemaExample.CostoSistema, new { @class = "form-control", type = "number", Name = "costo_sistemaspeso" })
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoArea, "Area del sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.DropDownListFor(m => m.SubSistemaExample.id_area, new SelectList(Model.ListaAreas, "idArea", "DescripcionArea"), "Seleccione Area del sistema", new { @id = "idDataOwner", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.DueñoDatos, "Dueño de los datos:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.DropDownListFor(m => m.SubSistemaExample.id_dataowner, new SelectList(Model.ListaDO, "idDataOwner", "nombre_data"), "Seleccione Dueño de los datos", new { @id = "idDataOwner", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.NombreJefeProyecto, "Jefe de proyecto:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b> @Html.DropDownListFor(m => m.SubSistemaExample.id_jefeproyecto, new SelectList(Model.ListaJefesProyectos, "idJefeProyecto", "NombreJefeProyecto"), "Seleccione jefe de proyecto", new { @id = "IdJefeproyecto", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoControlAcceso, "Control de Acceso:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b> @Html.DropDownListFor(m => m.SubSistemaExample.id_control, new SelectList(Model.ListaControlAcceso, "idControlAcceso", "TipoControl"), "Seleccione Control de Acceso ", new { @id = "idControlAcceso", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoAlcance, "Alcance del Sub sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>  @Html.DropDownListFor(m => m.SubSistemaExample.id_alcance, new SelectList(Model.ListaAlcance, "idAlcance", "DescripcionAlcance"), "Seleccione Alcance", new { @id = "idAlcance", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoSistema, "Tipo del Sistema :")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>  @Html.DropDownListFor(m => m.SubSistemaExample.id_tiposistema, new SelectList(Model.ListaTipoSistemas, "idTipoSistema", "TipoSistema"), "Seleccione Tipo Sistema", new { @id = "idTipoSistema", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoTecnologia, "Tipo de Tecnología :")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>  @Html.DropDownListFor(m => m.SubSistemaExample.id_tipotecnologia, new SelectList(Model.ListaTecnologia, "idTecnologia", "TipoTecnologia"), "Seleccione Tipo Tecnologia", new { @id = "idTecnologia", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.TipoLegacy, "Sistema Heredado(Legacy):")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b> @Html.DropDownListFor(m => m.SubSistemaExample.id_legacy, new SelectList(Model.ListaLegacy, "idLegacy", "DescripcionLegacy"), "Es el sistema Heredado?", new { @id = "idLegacy", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-lg-4">
                                                                            <b>@Html.LabelFor(m => m.SubSistemaExample.Region, "Región:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            <b>  @Html.DropDownListFor(m => m.SubSistemaExample.id_region, new SelectList(Model.ListaRegion, "idRegion", "NombreRegion"), "Seleccione Region", new { @id = "idRegion", @type = "text", @class = "form-select" })</b>

                                                                        </div>
                                                                    </div>


                                                                    <br />
                                                                    <div class="row">
                                                                        <div class="col-lg-9">

                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <input type="submit" value="ACEPTAR" />
                                                                            <input type="reset" value="CANCELAR" />
                                                                        </div>


                                                                    </div>
                                                                </div>

                                                            </div>

                                                        }


                                                    }
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>


                        </div>



                    </div>

                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>




    </script>

</body>
