@model PrototipoMINVU.Models.Registro



<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1>Editar datos de los Sistemas del MINVU</h1>
                                <hr />
                            </div>
                        </div>

                        <div class="row" id="textindexregistro">
                            <div class="col-lg-12">
                                <div class="card shadow">
                                    <div class="font_registro">                                        
                                        En esta pantalla se podrán Editar y actualizar los registros de los sistemas que se han 
                                        registrado en la base de datos del prototipo.<br />
                                        Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />


                                        Universidad Tecnológica Metropolitana.<br />

                                        <b>Profesor Guía:</b> Yelka Ruiz.<br />


                                        <b>Rodrigo Álvarez.</b>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">



                                <div class="font_registro">
                                    <label>Seleccione Ambiente:</label>
                                    @Html.DropDownListFor(m => m.idAmbiente, new SelectList(Model.ListaAmbientes, "idAmbiente", "DescripcionAmbiente"), "Seleccione Ambiente", new { @id = "idAmbiente", @type = "text", @onchange = "GenerarListaAmbiente(this.value)" })
                                </div>



                                @* TABLA PARA SISTEMAS *@

                                <div class="col-lg-12" id="tablaSISTEMAS">
                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Tabla de Sistemas Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y table-responsive tablaparasistemas">


                                            <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                <thead>
                                                    <tr>
                                                        <th>N° Sistema</th>
                                                        <th>Nombre Sistema</th>
                                                        <th>Descripcion sistema</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaSistemas != null)
                                                    {
                                                        foreach (var item in Model.ListaSistemas)
                                                        {
                                                            <tr>
                                                                <td class="id">@item.idSistema</td>
                                                                <td>@item.NombreSistema</td>
                                                                <td>@item.descripcion</td>
                                                                <td class="id">

                                                                    @using (Html.BeginForm("FrmSistemas", "EditarSistema", FormMethod.Post, new { @class = "user" }))
                                                                    {
                                                                        <input type="hidden" value="@item.idSistema" name="id_sistemasedit" />
                                                                        <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />
                                                                        <input type="hidden" value="@item.descripcion" name="descripcion_sistema" />
                                                                        <input type="hidden" value="@item.id_AMBIENTE" name="ambiente_sistema" />


                                                                        <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                    }
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @* TABLA PARA SISTEMAS EN desarrollo *@

                                <div class="col-lg-12" id="tablaSISTEMASendesarrollo" style="display:none;">
                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Sistemas en Desarrollo Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y table-responsive tablaparasistemas">


                                            <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                <thead>
                                                    <tr>
                                                        <th>N° Sistema</th>
                                                        <th>Nombre Sistema</th>
                                                        <th>Descripcion sistema</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaSistemasD != null)
                                                    {
                                                        foreach (var item in Model.ListaSistemasD)
                                                        {
                                                            <tr>
                                                                <td class="id">@item.idSistema</td>
                                                                <td>@item.NombreSistema</td>
                                                                <td>@item.descripcion</td>
                                                                <td class="id">

                                                                    @using (Html.BeginForm("FrmSistemas", "Home", FormMethod.Post, new { @class = "user" }))
                                                                    {
                                                                        <input type="hidden" value="@item.idSistema" name="id_sistemasedit" />
                                                                        <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />
                                                                        <input type="hidden" value="@item.descripcion" name="descripcion_sistema" />

                                                                        <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                    }
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @* TABLA PARA SISTEMAS EN TESTING *@

                                <div class="col-lg-12" id="tablaSISTEMASentesting" style="display:none;">
                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Sistemas en Testing Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y table-responsive tablaparasistemas">


                                            <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                <thead>
                                                    <tr>
                                                        <th>N° Sistema</th>
                                                        <th>Nombre Sistema</th>
                                                        <th>Descripcion sistema</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaSistemasT != null)
                                                    {
                                                        foreach (var item in Model.ListaSistemasT)
                                                        {
                                                            <tr>
                                                                <td class="id">@item.idSistema</td>
                                                                <td>@item.NombreSistema</td>
                                                                <td>@item.descripcion</td>
                                                                <td class="id">

                                                                    @using (Html.BeginForm("FrmSistemas", "Home", FormMethod.Post, new { @class = "user" }))
                                                                    {
                                                                        <input type="hidden" value="@item.idSistema" name="id_sistemasedit" />
                                                                        <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />
                                                                        <input type="hidden" value="@item.descripcion" name="descripcion_sistema" />

                                                                        <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                    }
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                @* TABLA PARA SISTEMAS EN PRODUCCION *@

                                <div class="col-lg-12" id="tablaSISTEMASenproduccion" style="display:none;">
                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Sistemas en Produccion Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y table-responsive tablaparasistemas">


                                            <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                <thead>
                                                    <tr>
                                                        <th>N° Sistema</th>
                                                        <th>Nombre Sistema</th>
                                                        <th>Descripcion sistema</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaSistemasP != null)
                                                    {
                                                        foreach (var item in Model.ListaSistemasP)
                                                        {
                                                            <tr>
                                                                <td class="id">@item.idSistema</td>
                                                                <td>@item.NombreSistema</td>
                                                                <td>@item.descripcion</td>
                                                                <td class="id">

                                                                    @using (Html.BeginForm("FrmSistemas", "Home", FormMethod.Post, new { @class = "user" }))
                                                                    {
                                                                        <input type="hidden" value="@item.idSistema" name="id_sistemasedit" />
                                                                        <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />
                                                                        <input type="hidden" value="@item.descripcion" name="descripcion_sistema" />

                                                                        <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                    }
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        
                    </div>

                </div>
            </div>

        </div>
    </div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>

    


</script>

</body>