@model PrototipoMINVU.Models.Registro

<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1>Editar datos del Sistema: <b>@Session["NOMBRE_SISTEMA"]</b></h1>
                                <hr />
                            </div>
                        </div>                

                        <div class="font_registro" id="containerSubSI" >                       

                            <div class="row">
                                <div id="FormularioEditarSistema" >
                                    <div class="font_registro">
                                        <div class="container-fluid">
                                            <div class="card">
                                                <div class="card shadow formAddproy">
                                                    <div class="row rowNorm">                                                       
                                                        <div class="font_registro">

                                                            @using (Html.BeginForm("EditarSistemasGenerales", "EditarSistema", FormMethod.Post, new { @class = "user" }))
                                                            {
                                                                <input type="hidden" value="@Session["ID_SISTEMA"]" name="id_sistemaedit" />

                                                                <div class="row">
                                                                    <div class="row">
                                                                        <div class="col-lg-3" style="text-align:end;">
                                                                            <b>@Html.LabelFor(m => m.SistemaExample.NombreSistema, "Nombre Sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.TextBoxFor(m => m.SistemaExample.NombreSistema, new { @class = "form-control" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-3" style="text-align:end;">
                                                                            <b>@Html.LabelFor(m => m.SistemaExample.AmbienteAlojado, "Ambiente del sistema:")</b>
                                                                        </div>
                                                                        <div class="col-lg-4">
                                                                            @Html.DropDownListFor(m => m.SistemaExample.id_AMBIENTE, new SelectList(Model.ListaAmbientes, "idAmbiente", "DescripcionAmbiente"), "Seleccione Ambiente del sistema", new { @id = "idAmbiente", @class="form-select", @type = "text" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-3" style="text-align:end;">
                                                                            <b>@Html.LabelFor(m => m.SistemaExample.descripcion, "Descripción del sistema: ")</b>

                                                                        </div>
                                                                        <div class="col-lg-8">
                                                                            @Html.TextAreaFor(m => m.SistemaExample.descripcion, new { @rows = "4", @cols = "50", @class="form-control", @name="descripcion" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-9">
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <input type="submit" value="ACEPTAR" />
                                                                            <input type="reset" value="CANCELAR" />
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                            <div class="row">
                                                                <div class="col-lg-4">
                                                                    <b>
                                                                        <label>Lista de sub sistemas:</label>
                                                                    </b>
                                                                </div>
                                                                <div class="row" id="tablasubsistemas">

                                                                    <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>N° Sub Sistema</th>
                                                                                <th>Nombre Sub Sistema Asociado</th>
                                                                                <th>Jefe del proyecto</th>
                                                                                <th>Estado Sistema</th>
                                                                                <th>Editar</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (Model.ListaSubSistemas != null)
                                                                            {
                                                                                foreach (var item in Model.ListaSubSistemas)
                                                                                {
                                                                                    <tr>
                                                                                        <td class="id">@item.idSubSistema</td>
                                                                                        <td>@item.NombreSubSistema</td>
                                                                                        <td>@item.NombreJefeProyecto</td>
                                                                                        <td>@item.EstadoSubSistema</td>
                                                                                        <td class="id">

                                                                                            @using (Html.BeginForm("FrmSubsistemas", "EditarSistema", FormMethod.Post, new { @class = "user" }))
                                                                                            {
                                                                                                <input type="hidden" value="@item.idSubSistema" name="id_sistemasedit" />
                                                                                                <input type="hidden" value="@item.NombreSubSistema" name="nombre_sistemasedit" />
                                                                                                <input type="hidden" value="@item.DescripcionSubSistema" name="descripcion_subsistema" />

                                                                                                <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                                            }
                                                                                        </td>

                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        
                                                    </div>
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                               

                            </div>


                        </div>



                    </div>

                </div>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>




    </script>

</body>


