@model PrototipoMINVU.Models.Registro
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototipo Sistemas - MINVU</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">
    <link href="../css/app.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-4" style="font-size:smaller; margin-left:25px">
                <div class="row">
                    <div class="form-group row">
                        <img width="100" height="220" src="~/img/logos9.png" />
                    </div>

                </div>
            </div>
            <div class="col-4" style="position:absolute; top:2px; left:600px">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for=" establecimientoOrigen" class="card-title text-blac-900" style="font-size: 14px">Fecha Solicitud: </label>
                            <label class="card-text" style="font-size: 14px"> </label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4" style="position:absolute; top:2px; left:310px">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label for=" establecimientoOrigen" class="card-title text-blac-900" style="font-size: 14px">Código Reporte: </label>
                            <label class="card-text" style="font-size: 14px"> </label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="container" style="border:1px solid black">

        <div class="row">

            <div class="row" style="margin-left:0px">
                <div class="col-lg-6">
                    <div class="card shadow">
                        <div class="font_calibri">
                            <h3 style="text-align: center">Reporte General de Control de los Sistemas del MINVU</h3>
                            <hr style="border: 1px solid black" />
                            En este reporte se puede visualizar el nombre, el estado y el ambiente del sistema.
                            También se podrán ver los distintos tipos de integración que tiene con los modulos y/o
                            sistemas en la base de datos.<br />
                            Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                            modo de prueba según las límitaciones del proyecto.<br /><br />

                            Esta interfaz es un ejemplo del prototipo a modo de imagen.<br /><br />
                            Universidad Tecnológica Metropolitana.<br />
                            <b>Profesor Guía:</b> Yelka Ruiz.<br />
                            <b>Rodrigo Álvarez.</b>


                        </div>
                    </div>
                </div>



            </div>

            <hr />


            <div class="font_registro">
                <div class="col-12">

                    <div class="col-12" style="">
                        <label>Nombre del Sistema:</label>
                        <p style="text-align:center">@Model.SistemaExample.NombreSistema</p>
                    </div>
                    <hr style="border: 1px solid black" />

                    <div class="col-12" style="">
                        <label>Descripción del Modulo:</label>
                        <p style="text-align:center">@Model.SistemaExample.DescripcionSistema</p>
                    </div>
                    <hr style="border: 1px solid black" />

                    <div class="col-12" style="">
                        <label> Estado del Sistema: </label>
                        <p style="text-align:center"> @Model.SistemaExample.EstadoSistema</p>
                    </div>
                    <hr style="border: 1px solid black" />

                    <div class="col-12" style="">
                        <label> Ambiente Alojado: </label>

                        <p style="text-align:center"> @Model.SistemaExample.AmbienteAlojado</p>
                    </div>
                    <hr style="border: 1px solid black" />

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <b>
                    <label>
                        Lista de Integraciones del sistema @Model.SistemaExample.NombreSistema :
                    </label>
                </b>
            </div>

        </div>

        <table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
            <thead>
                <tr>
                    <th>N° Integración</th>
                    <th>Sistema Origen</th>
                    <th>Tipo integración</th>
                    <th>Nombre Sistema Destino</th>
                    <th>Nombre Módulo Destino</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListaIntegracionesSistemaby != null)
                {
                    int aux = 1;
                    foreach (var item in Model.ListaIntegracionesSistemaby)
                    {
                        if (aux <= 5)
                        {
                            <tr>

                                <td>@aux</td>
                                <td>@item.nombre_sistema_origen</td>
                                <td>@item.tipo_integracion</td>
                                <td>@item.nombre_sistema_destino</td>
                                <td>@item.nombre_modulo_destino</td>
                            </tr>

                            aux++;
                        }

                    }
                }
            </tbody>
        </table>
    </div>


    @*<table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
        <thead>
            <tr>
                <th>N° Integración</th>
                <th>Sistema Origen</th>
                <th>Tipo integración</th>
                <th>Nombre Sistema Destino</th>
                <th>Nombre Módulo Destino</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListaIntegracionesSistemaby != null)
            {
                int aux = 6;
                foreach (var item in Model.ListaIntegracionesSistemaby)
                {
                    if (aux > 5)
                    {
                        <tr>
                            <td>@aux</td>
                            <td>@item.nombre_sistema_origen</td>
                            <td>@item.tipo_integracion</td>
                            <td>@item.nombre_sistema_destino</td>
                            <td>@item.nombre_modulo_destino</td>
                        </tr>

                        aux++;
                    }

                }
            }
        </tbody>
    </table>*@
</body>
</html>
