@model PrototipoMINVU.Models.Usuario
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/css/sweetalert2.css" rel="stylesheet" />
    <script src="~/js/sweetalert2.js"></script>


    <title>Prototipo de Sistemas MINVU</title>
    <!-- Custom fonts for this template-->

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/css-prototipo.css" rel="stylesheet">
</head>


<body class="bodyClass" id="bodyLogin">
    <div id="div-containerAll" class="container ">

        <div id="div-allLoginContent" class="row justify-content-center ">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div id="div-loginContent" class="row ">
                            <div id="divLogoImage" class="col-lg-6 d-none d-lg-block align-bottom   ">

                            </div>
                            <div class="col-lg-6">
                                <div id="div-login" class="p-5">
                                    <div class="text-center">
                                        <h1 class="h3 text-gray-800 mb-4">Registro de Cuenta de Acceso.</h1>
                                    </div>
                                    @using (Html.BeginForm("RegistraUsuario", "Seguridad", FormMethod.Post, new { @class = "user" }))
                                    {

                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Rut, new { @class = "form-control box-success", @placeholder = "Usuario(RUT)", @type = "text", @onkeypress = "return solonumeros(event)", @maxlength = "8", @required = "required", @title = "Ingrese parámetros" })
                                            @Html.ValidationMessageFor(m => m.Rut, null, new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group ">

                                            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control box-success", @placeholder = "Nombre de usuario", @type = "text", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "text-danger" })

                                        </div>

                                        <div class="form-group ">

                                            <b>@Html.DropDownListFor(m => m.IdTipoUsuario, new SelectList(Model.ListaTipoUsuarios, "intIDtipousuario", "strTipousuario"), "Seleccione Permisos de usuario", new { @id = "idtipoUsuario", @type = "text", @class = "form-control" })</b>


                                        </div>


                                        <div class="form-group">

                                            @Html.PasswordFor(m => m.CorreoElectronico, new { @class = "form-control box-success", @placeholder = "Correo Electronico", @type = "text", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.CorreoElectronico, null, new { @class = "text-danger" })

                                        </div>


                                        <div class="form-group">

                                            @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control box-success", @placeholder = "Contraseña", @type = "password", @required = "required", @title = "Ingrese parámetros" })
                                            @Html.ValidationMessageFor(m => m.Contrasena, null, new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">

                                            @Html.PasswordFor(m => m.Repetircontraseña, new { @class = "form-control box-success", @placeholder = " Repetir Contraseña", @type = "password", @required = "required", @title = "Ingrese parámetros" })
                                            @Html.ValidationMessageFor(m => m.Repetircontraseña, null, new { @class = "text-danger" })

                                        </div>


                                        <div class="form-group">

                                        </div>
                                        <button type="submit" class="btn btn-outline-success btn-user btn-block "><b>Registrar Usuario</b></button>
                                    }

                                    <hr>

                                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "user" }))
                                    {
                                        <button type="submit" class="btn btn-outline-success btn-user btn-block "><b>Cancelar</b></button>
                                    }
                                    <div>
                                        <footer class="sticky-footer ">
                                            <div class="container my-auto">
                                                <div class="copyright text-center my-auto">
                                                    <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span>
                                                </div>
                                            </div>
                                        </footer>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script>
        /*Funcion error de autenticacion*/
        function AlertExito(valor) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                allowOutsideClick: false,
                title: valor,
                timer: 4000
            })
        }
        function AlertError(valor) {
            Swal.fire({
                icon: 'error',
                title: 'Error de autenticación...',
                showConfirmButton: true,
                text: valor,
                footer: '<a href=""></a>'
            })
        }

        function AlertError2(valor) {
            Swal.fire({
                icon: 'error',
                title: 'Error de validación...',
                showConfirmButton: true,
                text: valor,
                footer: '<a href=""></a>'
            })
        }
    </script>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>



</body>

</html>