<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow" >
                                    <div class="font_calibri">
                                        <h2> Bienvenida /o al Prototipo de Sistemas del MINVU</h2>
                                        <hr />
                                        Bienvenidos al prototipo de sistemas para el registro y control de los sistemas del MINVU. Este prototipo está desarrollado
                                        con fines educaprototipotivos y no lucrativos. Está hecho con el fin de obtener el título de ingeniería civil en computación, mención
                                        informática en la UTEM.<br />
                                        En este  se podrán agregar y/o editar las  caracteristicas de los sistemas del MINVU, y de los que se vayan agregando al sistema.
                                        También se podrán visualizar a través de una serie de gráficos y tablas de datos. Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />
                                        Esta interfaz es un ejemplo del prototipo a modo de imagen.<br /><br />
                                        Universidad Tecnológica Metropolitana.<br />
                                        <b>Profesor Guía:</b> Yelka Ruiz.<br /><br />
                                        <b>Rodrigo Álvarez.</b>


                                    </div>                                                                    
                                </div>
                            </div>
                            <div class="col-lg-6" >
                                <div class="col-lg-8" >
                                    <div class="font_calibri">
                                        Estado de los modulos:
                                        <hr />

                                        N° Usuarios:
                                        <hr />
                                        Estado de los Sistemas:
                                        <hr />

                                        <div>
                                            <div class="font_registro">
                                                <div id="svgContainer">
                                                    <svg width="1000" height="600" xmlns="http://www.w3.org/2000/svg">

                                                        <!-- Dibuja sistemas -->
                                                        @if (Model.ListaSistemas != null)
                                                        {
                                                            int aux = 100;
                                                            int y = 70; // Inicializa la posición en "y"

                                                            foreach (var item in Model.ListaSistemas)
                                                            {
                                                                if (item.EstadoSistema == "Activo" || item.EstadoSistema == "Iniciado")
                                                                {
                                                                    int aux2 = 0;
                                                                    aux2 = y - 30;
                                                                    <text>

                                                                        <text x="@aux" y="@aux2" font-size="12" text-anchor="middle" fill="black">@item.NombreSistema</text>
                                                                    </text>

                                                                    <circle cx="@aux" cy="@y" r="20" fill="green" />
                                                                }
                                                                else
                                                                {
                                                                    if (item.EstadoSistema == "Pendiente" || item.EstadoSistema == "Negociando")
                                                                    {
                                                                        int aux2 = 0;
                                                                        aux2 = y - 30;
                                                                        <text>

                                                                            <text x="@aux" y="@aux2" font-size="12" text-anchor="middle" fill="black">@item.NombreSistema</text>
                                                                        </text>

                                                                        <circle cx="@aux" cy="@y" r="20" fill="blue" />
                                                                    }
                                                                    else
                                                                    {

                                                                        if (item.EstadoSistema == "Dado de baja")
                                                                        {
                                                                            int aux2 = 0;
                                                                            aux2 = y - 30;
                                                                            <text>

                                                                                <text x="@aux" y="@aux2" font-size="12" text-anchor="middle" fill="black">@item.NombreSistema</text>
                                                                            </text>

                                                                            <circle cx="@aux" cy="@y" r="20" fill="black" />
                                                                        }
                                                                        else
                                                                        {
                                                                            int aux2 = 0;
                                                                            aux2 = y - 30;
                                                                            <text>
                                                                                <text x="@aux" y="@aux2" font-size="12" text-anchor="middle" fill="black">@item.NombreSistema</text>
                                                                            </text>
                                                                            <circle cx="@aux" cy="@y" r="20" fill="red" />
                                                                        }

                                                                    }


                                                                }
                                                                aux = aux + 170;

                                                                // Si aux llega a 650, ajusta la posición en "y" para la siguiente fila
                                                                if (aux >= 700)
                                                                {
                                                                    aux = 100; // Restablece la posición en "x"
                                                                    y = y + 70; // Ajusta la posición en "y" para la siguiente fila
                                                                }
                                                            }
                                                        }





                                                        <text x="80" y="460" font-size="17" text-anchor="middle" font-weight="bold" fill="black">Leyenda de estados: </text>
                                                        <line x1="0" y1="470" x2="700" y2="470" style="stroke: black; stroke-width: 2" />

                                                        <text x="100" y="500" font-size="12" text-anchor="middle" fill="black">Activo/Iniciado</text>
                                                        <circle cx="100" cy="530" r="20" fill="green" />

                                                        <text x="270" y="500" font-size="12" text-anchor="middle" fill="black">Pendiente/Negociando</text>
                                                        <circle cx="270" cy="530" r="20" fill="blue" />

                                                        <text x="440" y="500" font-size="12" text-anchor="middle" fill="black">Cancelado/Rechazado</text>
                                                        <circle cx="440" cy="530" r="20" fill="red" />

                                                        <text x="610" y="500" font-size="12" text-anchor="middle" fill="black">Dado de Baja</text>
                                                        <circle cx="610" cy="530" r="20" fill="Black" />


                                                    </svg>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-4">


                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>


