<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card shadow" >
                                    <div class="font_calibri">
                                        <h2> Bienvenida /o al Prototipo de Sistemas del MINVU</h2>
                                        <hr />
                                        Bienvenidos al prototipo de sistemas para el registro y control de los sistemas del MINVU. Este prototipo está desarrollado
                                        con fines educaprototipotivos y no lucrativos. Está hecho con el fin de obtener el título de ingeniería civil en computación, mención
                                        informática en la UTEM.<br />
                                        En este  se podrán agregar y/o editar las  caracteristicas de los sistemas del MINVU, y de los que se vayan agregando al sistema.
                                        También se podrán visualizar a través de una serie de gráficos y tablas de datos. Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />
                                        Esta interfaz es un ejemplo del prototipo a modo de imagen.<br /><br />
                                        Universidad Tecnológica Metropolitana.<br />
                                        <b>Profesor Guía:</b> Yelka Ruiz.<br /><br />
                                        <b>Rodrigo Álvarez.</b>


                                    </div>                                                                    
                                </div>
                            </div>
                            <div class="col-lg-6" >
                                <div class="col-lg-8" >
                                    <div class="font_calibri">
                                        Estado de los modulos:
                                        <hr />
                                        Estado de los Sistemas:
                                        <hr />
                                        <div>
                                            <div id="svgContainer">
                                                <svg width=" 700" height=" 600" style="border:1px solid black;" xmlns="http: //www.w3.org/2000/svg">
                                                    <!-- Dibuja sistemas -->

                                                    @if (Model.ListaSistemas != null)
                                                    {

                                                        foreach (var item in Model.ListaSistemas)
                                                        {
                                                            int aux=20;
                                                            
                                                            if (item.EstadoSistema == "Activo")
                                                            {
                                                                <circle cx="@aux" cy=" 50" r="20" fill=" green" />



                                                            }
                                                            @*<td>@item.NombreSistema</td>
                                                            <td></td>
                                                            <td>@item.AmbienteAlojado</td>
                                                            <td class="id">

                                                                @using (Html.BeginForm("FrmSistemas", "Registro", FormMethod.Post, new { @class = "user" }))
                                                                {
                                                                    <input type="hidden" value="@item.id_sistema" name="id_sistemasedit" />
                                                                    <input type="hidden" value="@item.NombreSistema" name="nombre_sistemasedit" />

                                                                    <button type="submit"><i class="bi bi-pencil-square"></i></button>

                                                                }
                                                            </td>

                                                            </tr>*@
                                                        }
                                                    }
                                                    <text x="20" y="20" font-size=" 12" text-anchor="middle">RUKAN</text>
                                                    <circle cx="20" cy=" 50" r="20" fill=" green" />

                                                    <text x="70" y="20" font-size="12" text-anchor="middle">UMBRAL</text>
                                                    <circle cx=" 70" cy=" 50" r=" 20" fill=" red" />

                                                    <text x="120" y="20" font-size="12" text-anchor="middle">SIAC</text>
                                                    <circle cx="120" cy="50" r="20" fill="green" />

                                                    <text x="170" y="20" font-size=" 12" text-anchor="middle">SPS</text>
                                                    <circle cx="170" cy="50" r="20" fill="red" />

                                                </svg>

                                            </div><!-- Dibuja flechas de conexión -->


                                        </div>

                                        N° Usuarios:
                                        <hr />
                                    </div>
                                </div>
                                <div class="col-lg-4">


                                </div>
                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row text-muted">
                <div class="col-6 text-start">
                    <p class="mb-0">
                        <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                    </p>
                </div>
                <div class="col-6 text-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>


