@model PrototipoMINVU.Models.Registro



<body style="background-color: #B2FEFA;">

    <div class="container-fluid">
        <div class="bg-gradient-primary py-3 shadow-sm">
            <div class="card">
                <div class="card shadow">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="font_registro">
                                <h1> Bienvenida /o al Registro de datos de los Sistemas del MINVU</h1>
                                <hr />
                            </div>
                        </div>

                        <div class="row" id="textindexregistro">
                            <div class="col-lg-12">
                                <div class="card shadow">
                                    <div class="font_registro">
                                        Bienvenidos al prototipo de sistemas de registro y control de los sistemas del MINVU. Este prototipo está desarrollado
                                        con fines educativos y no lucrativos. Está hecho con el fin de obtener el título de ingeniería civil en computación, mención
                                        informática en la UTEM.<br />
                                        En esta pantalla se podrán registrar, actualizar o eliminar registros de los principales proyectos y/p asociados del
                                        conjunto de sistemas del MINVU.<br />
                                        Se destaca, que las caracteristicas y/o datos escogidos para este prototipo, son a
                                        modo de prueba según las límitaciones del proyecto.<br />


                                        Universidad Tecnológica Metropolitana.<br />

                                        <b>Profesor Guía:</b> Yelka Ruiz.<br />


                                        <b>Rodrigo Álvarez.</b>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">

                                <div class="font_registro">
                                    <label>Seleccione Ambiente:</label>
                                    @Html.DropDownListFor(m => m.idAmbiente, new SelectList(Model.ListaAmbientes, "idAmbiente", "DescripcionAmbiente"), "Seleccione Ambiente", new { @id = "idAmbiente", @type = "text", @onchange = "GenerarListaAmbiente(this.value)" })
                                </div>

                                <div class="col-lg-12" id="tablaSISTEMAS" >
                                    <div class="font_registro">
                                        <div style="text-align: center;"> <b>Sistemas en Produccion Activos</b></div>
                                        <hr />
                                        <div class="table-responsive-y table-responsive tablaparasistemas">
                                            <table align="center" border="1" style="width:contain; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                                <thead>
                                                    <tr>
                                                        <th>N° Sistema</th>
                                                        <th>Nombre Sistema</th>
                                                        <th>Sub Sistema</th>
                                                        <th>Jefe del proyecto</th>
                                                        <th>Estado Sistema</th>
                                                        <th>Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.ListaSistemas != null)
                                                    {
                                                        foreach (var item in Model.ListaSistemas)
                                                        {
                                                            <tr>
                                                                <td class="id">@item.idSistema</td>
                                                                <td>@item.NombreSistema</td>
                                                                <td>@item.NombreSubSistema</td>
                                                                <td>@item.NombreJefeProyecto</td>
                                                                <td>@item.estado</td>
                                                                <td></td>

                                                            </tr>
                                                        }
                                                    }                                                           
                                                        </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>










                                @* FORMULARIOS DE EDICION PARA LOS SISTEMAS DEL SISTEMA*@
                                <div class="font_registro" id="containerSubSI" style="display: none;">
                                    <hr />
                                    <label>Seleccione Sub Sistema:</label>
                                    @Html.DropDownListFor(m => m.idSubSistema, new SelectList(Model.ListaSubSistemas, "idSubSistema", "NombreSubSistema"), "Seleccione SubSistema", new { @id = "id_subsistema", @onchange = "GenerarFormulario()" })
                                    <hr />

                                    <div class="row">
                                        <div id="FormularioEditarSistema" style="display:none;">
                                            <div class="font_registro">
                                                <div class="container-fluid">
                                                    <div class="card">
                                                        <div class="card shadow formAddproy">
                                                            <div class="row rowNorm">
                                                                @using (Html.BeginForm("AgregarSubSistema", "Home", FormMethod.Post, new { @class = "user" }))
                                                                {
                                                                    <div class="font_registro">

                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Nombre SubSistema:</label>
                                                                                </b>
                                                                            </div>

                                                                            <div class="col-lg-8">

                                                                                @Html.TextBoxFor(m => m.NombreSubSistema, new { @autocomplete = "off", @id = "idSubSistema", @placeholder = "Ingrese Nombre Proyecto", @size = "24", @type = "text", @pattern = "^[a-zA-Z ]*$", @title = "El formato del nombre del proyecto solo debe contener letras", @maxlength = "50" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Jefe proyecto:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">

                                                                                @Html.DropDownListFor(m => m.idJefeProyecto, new SelectList(Model.ListaJefesProyectos, "idJefeProyecto", "NombreJefeProyecto"), "Seleccione Jefe Proyecto", new { @id = "id_estado_drop" })

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Estado Proyecto:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">


                                                                                @Html.DropDownListFor(m => m.idEstados, new SelectList(Model.ListaEstados, "idEstado", "DescripcionEstado"), "Seleccione Estado Sistema", new { @id = "id_estado_drop" })

                                                                                @* DROPDOWN LIST ESTADO PROYECTOS *@
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Fecha Inicio proyecto:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">

                                                                                @Html.EditorFor(model => model.Fecha_Inicio_Proyecto, new { htmlAttributes = new { @id = "id_fecha_inicio", @size = "24", @class = "datepicker", @type = "datetime-local" } })
                                                                                @Html.ValidationMessageFor(model => model.Fecha_Inicio_Proyecto, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Fecha Término:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">

                                                                                @Html.EditorFor(model => model.Fecha_Inicio_Proyecto, new { htmlAttributes = new { @id = "id_fecha_termino", @class = "datepicker", @size = "24", @type = "datetime-local" } })
                                                                                @Html.ValidationMessageFor(model => model.Fecha_Termino_Proyecto, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Costo Proyecto:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">


                                                                                @Html.TextBoxFor(m => m.Costo_Proyecto, new { @id = "idCostoProyecto", @placeholder = "Ingrese Costo proyecto", @type = "number", @size = "24", @title = "El formato del costo del proyecto solo debe contener números enteros", @maxlength = "50" })

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-4">
                                                                                <b>
                                                                                    <label>Presupuesto:</label>
                                                                                </b>
                                                                            </div>
                                                                            <div class="col-lg-8">

                                                                                @Html.TextBoxFor(m => m.Presupuesto, new { @id = "idPresupuestoProyecto", @placeholder = "Ingrese Presupuesto proyecto", @size = "24", @type = "number", @title = "El formato del Presupuesto del proyecto solo debe contener números enteros", @maxlength = "50" })

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <b>
                                                                                    <label>Descripción:</label><br />
                                                                                </b>
                                                                                @Html.TextAreaFor(m => m.Descripcion, new { @autocomplete = "off", @id = "idDescripcionProyecto", @rows = "4", @cols = "50", @placeholder = "Ingrese una descripción del Proyecto", @type = "text", @resize = "none", @maxlength = "500" })

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">

                                                                            <div class="col-lg-8">

                                                                            </div>
                                                                            <div class="col-lg-4">

                                                                                <button type="submit"><b>Aceptar</b></button>
                                                                                <button type="submit"><b>Cancelar</b></button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div id="FormularioModificarProyecto" style="display:none;">
                                            <div class="font_registro">
                                                FORMULARIO MODIFICAR PROYECTO.
                                            </div>
                                        </div>


                                        <div id="FormularioQuitarProyecto" style="display:none;">
                                            <div class="font_registro">
                                                FORMULARIO Quitar PROYECTO.
                                            </div>
                                        </div>

                                    </div>


                                </div>


                                @* FORMULARIOS DE EDICION PARA LOS SISTEMAS DEL SISTEMA MUNIN *@



                            </div>










                            <div class="col-lg-6" id="tablaSISTEMAS" style="display: none; margin-top:3px;">
                                <div class="font_registro">
                                    <div style="text-align: center;"> <b>Sistemas en Produccion Activos</b></div>
                                    <hr />
                                    <div class="table-responsive-y table-responsive tablaparasistemas">
                                        <table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                            <thead>
                                                <tr>
                                                    <th>N° Sistema</th>
                                                    <th>Nombre Sistema</th>
                                                    <th>Jefe del proyecto</th>
                                                    <th>Estado Sistema</th>
                                                    <th>Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>4</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-6" id="tablaTrazabilidad" style="display: none; margin-top:3px;">
                                <div class="font_registro">
                                    <div style="text-align: center;">Proyectos Trazabilidad Activos</div>
                                    <hr />
                                    <div class="table-responsive-y table-responsive tablaparasistemas">
                                        <table align="center" border="1" style="width:auto; height:contain;" class="table table-bordered table-hover table-condensed table-striped shadow-lg bg-white position-static" id="datatableReg">
                                            <thead>
                                                <tr>
                                                    <th>N° Contrato</th>
                                                    <th>Contratista</th>
                                                    <th>Entidad beneficiada</th>
                                                    <th>Estado Contrato</th>
                                                    <th>Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>2</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>3</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>

                                                    <td>4</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>








                        </div>

                        
                    </div>

                </div>
            </div>

        </div>
    </div>

<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-start">
                <p class="mb-0">
                    <a class="text-muted"> <span>Copyright &copy; Universidad Tecnológica Metropolitana - Facultad Ingenieria</span></a>								&copy;
                </p>
            </div>
            <div class="col-6 text-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/beneficios/vivienda/" target="_blank">Vivienda</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/noticias/" target="_blank">Noticia</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/sobre-minvu/" target="_blank">Sobre MINVU</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="https://www.minvu.gob.cl/preguntas-frecuentes/" target="_blank">Preguntas Frecuentes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script>

    


</script>

</body>